html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
    background: #6E6E6E;
}

mark {
    background-color: transparent;
    color: inherit;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input, select, textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

/* Basic */
/* Style menu */
header nav{
    position: relative;
    z-index: 10;
}

header nav > ul::after{
    display: block;
    width: 100%;
    height: 0;
    clear: both;
    content: "";
}

.top-menu{
    background: #444444;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.75);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.75);
    font-size: 0;
    padding: 10px 5px;
    position: relative;
}

.top-menu li{
    display: inline-block;
}

.top-menu li a{
    color: #b4b4b4;
    text-decoration: none;
    font-size: 14px;
    cursor: default;
    padding: 7px 10px;
}

.top-menu li a:hover, .top-menu li:hover > a{
    background: #3a3a3a;
    color: #d4d4d4;
    transition: 0.5s;
}

.top-menu > li:hover ul{
    display: block;
}

.top-menu ul{
    display: none;
    position: absolute;
    width: 150px;
    top: 30px;
    background: #444444;
    padding-bottom: 5px;
    border: 1px solid #797979;
}

.top-menu ul li{
    display: block;
    padding: 6px;
}

.top-menu ul li a:hover{
    background: transparent;
}

.top-menu ul li:hover{
    background: #3a3a3a;
    transition: 0.5s;
}
/* End style menu */

main section header{
    margin-top: 2px;
    -webkit-box-shadow: 0 -1px 0 0 rgba(214,214,214,1);
    -moz-box-shadow: 0 -1px 0 0 rgba(214,214,214,1);
    box-shadow: 0 -1px 0 0 rgba(214,214,214,1);
    background: #444444;
}

main section header h2{
    padding: 10px 15px;
    color: #b4b4b4;
    font-size: 14px;
}

main section table{
    width: 100%;
    text-align: center;
    font-size: 14px;
}

main .items{
    height: 550px;
    background: #e7e7e7;
    overflow-y: scroll;
}

main .items table td, main .items table th{
    vertical-align: middle;
}

main .items .item-head{
    font-weight: 700;
}

main .items .item-head th, main .items .item td{
    border: 1px solid #3a3a3a;
    padding: 4px 0;
}

main .items .item td:last-child,
main .items .item td:nth-child(6),
main .items .item td:nth-child(7),
main .items .item td:nth-child(9){
    padding: 0;
}

main .items .item td:last-child{
    font-size: 0;
    padding-bottom: 1px;
}

main .items .item td a img{
    width: 20px;
}

main .items .item td a:first-child img{
    margin-right: 10px;
}

main .items .item td input[type="text"]{
    margin: 0;
    border: none;
    text-align: center;
    padding: 3px 0;
    width: 90px;
}

main .items .item tr:nth-child(even){
    background: #c6c6c6;
}

main .stock{
    color: #b4b4b4;
    margin-top: 2px;
    padding: 5px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.75);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.75);
    background: #444444;
    position: relative;
}

main .stock div{
    margin: 10px;
}

main .block-btn{
    margin-top: 2px;
    -webkit-box-shadow: 0 -1px 0 0 rgba(214,214,214,1);
    -moz-box-shadow: 0 -1px 0 0 rgba(214,214,214,1);
    box-shadow: 0 -1px 0 0 rgba(214,214,214,1);
    background: #444444;
    padding: 15px 10px;
    font-size: 0;
}

main .block-btn a{
    color: #b4b4b4;
    font-size: 14px;
    text-decoration: none;
    padding: 5px;
    margin-right: 10px;
}

main .block-btn a:last-child{
    margin-right: 0;
}

main .block-btn a:hover{
    background: #3a3a3a;
    color: #d4d4d4;
    transition: 0.5s;
}

.modal-form-product, .modal-form-category, .modal-form-user{
    display: none;
    width: 500px;
    height: 405px;
    border: 1px solid #b4b4b4;
    background: #444444;
    padding: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
}

.modal-form-category{
    height: 180px;
}

.modal-form-user{
    height: 335px;
}

.btn-close{
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: 9999;
    color: #b4b4b4;
    padding: 0 3px 3px;
    background: #404040;
    cursor: default;
    top: 11px;
    right: -5px;
}

.btn-close:hover{
    background: #3a3a3a;
    color: #d4d4d4;
    transition: 0.5s;
}

.modal-form-product .modal-form-content fieldset,
.modal-form-user .modal-form-content fieldset,
.modal-form-category .modal-form-content fieldset
{
    padding: 20px 0;
    border: 1px solid #d4d4d4;
}

.modal-form-product .modal-form-content legend,
.modal-form-user .modal-form-content legend,
.modal-form-category .modal-form-content legend
{
    color: #d4d4d4;
    padding: 5px;
}

.modal-form-product .modal-form-content label,
.modal-form-user .modal-form-content label,
.modal-form-category .modal-form-content label{
    display: inline-block;
    vertical-align: top;
    width: 100px;
    text-align: right;
    font-size: 14px;
    color: #d4d4d4;
    margin: 5px;
}

.modal-form-product .modal-form-content label span,
.modal-form-user .modal-form-content label span,
.modal-form-category .modal-form-content label span{
    color: red;
}

.modal-form-product .modal-form-content input,
.modal-form-user .modal-form-content input,
.modal-form-category .modal-form-content input{
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border: none;
    padding: 5px;
    width: 350px;
}

.modal-form-product .modal-form-content select,
.modal-form-user .modal-form-content select,
.modal-form-category .modal-form-content select{
    display: inline-block;
    vertical-align: top;
    margin: 5px 5px 5px 1px;
    border: none;
    padding: 5px;
    width: 360px;
}

.modal-form-user .modal-form-content select{
    margin: 5px 5px 5px 5px;
}

.modal-form-product .modal-form-content a,
.modal-form-user .modal-form-content a,
.modal-form-category .modal-form-content a{
    color: #b4b4b4;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
    background: #404040;
}

.modal-form-product .modal-form-content a:hover,
.modal-form-user .modal-form-content a:hover,
.modal-form-category .modal-form-content a:hover{
    background: #3a3a3a;
    color: #d4d4d4;
    transition: 0.5s;
}

#prompt-form {
    border: 1px solid #b4b4b4;
    background: #444444;
    display: inline-block;
    padding: 10px;
    width: 200px;
    vertical-align: middle;
}

#prompt-form-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

#prompt-form-container:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}

#cover-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.3;
}

#prompt-message{
    padding: 15px;
    color: #d4d4d4;
}

#prompt-form-container #prompt-form button{
    color: #b4b4b4;
    background: #404040;
    border: none;
    padding: 8px 20px;
}

#prompt-form-container #prompt-form button:hover{
    background: #3a3a3a;
    color: #d4d4d4;
    transition: 0.5s;
}